.caravanReportsContainer{
    width: fit-content;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    & .offenceCount{
        width: fit-content;
        float: left;
        border-radius: 10px;
        text-align: center;
        color: white;
    }

    & .searchContainers{
        display: flex;

        & .caravanReportsSearchQueries{
            margin-left: auto;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-right: 20px;

            & .ascendingIcon{
                color: white;
                margin-left: 5px;
                padding: 3px;
                background-color: grey;
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;

                &:active{
                    transform: scale(.9);
                }
            }

            & .searchInput{
                margin: 10px;
                height: min-content;
                background-color: none;
            }

            & .caravanReportsSort{
                height: min-content;
            }
        }
    }

    & .reportContainer{
        & .reportCardTitles{
            border-bottom: 1px solid white;
            margin-right: 10px;
            & .title{
                margin: 10px;
                display: grid;
                grid-template-columns: repeat(7, 225px) 50px;
                padding-bottom: 10px;
                & p{
                    margin: 10px;
                    color: white;
                    width: max-content;
                    padding: 10px;
                    font-weight: bold;
                    letter-spacing: 10px;
                    justify-self: center;

                }
            }
        }
        & .reportCaravanContainer{
            overflow-y: scroll;
            height: 75vh;

            &::-webkit-scrollbar {
                width: 10px;

            }
            &::-webkit-scrollbar-track {
                background: none;
              }
            &::-webkit-scrollbar-thumb {
                background: rgb(0, 0, 0);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            & .reportCardContainer{
                & .reportCard{
                    margin: 10px;
                    background-color: rgb(16, 16, 16);
                    border-radius: 10px;
                    display: grid;
                    grid-template-columns: repeat(7, 225px) 50px;
                    border: 1px solid white;
                    align-items: center;
                    & p{
                        color: white;
                        padding: 10px;
                        width: max-content;
                        justify-self: center;
                        &.dateContainer{
                            display: flex;
                        }
                    }
                    & .evidenceImageIcon{
                        width: 25px;
                        justify-self: center;
                        cursor: pointer;
                        &:active{
                            transform: scale(.8);
                        }
                    }
                }
            }
        }
    }
}
.fineContainer{
    display: flex;
    & .fineSaveButton{
        display: block;
        border: 1px solid grey;
        background-color: green;
        margin-left: 30px;
        max-height: 20px;
        font-weight: bold;
        margin-top: 8px;
        letter-spacing: 3px;
        &.hide{
            display: none;
        }
    }
    & input{
        color: white;
        padding: 10px;
        width: fit-content;
        justify-self: center;
        background-color: rgb(16, 16, 16);
        border: none;
        text-align: center;
        color: white;
        outline: none;
        &::placeholder {
            color: white;
        }
    }
}

.paidButton{
    width: fit-content;
    justify-self: center;
    cursor: pointer;
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
        &:active{
            transform: scale(.8);
        }
        & .paid{
            background-color: green;
            border-radius: 10px;
            outline: none;
        }
        & .unpaid{
            background-color: red;
            border-radius: 10px;
            outline: none;
        }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .caravanReportsContainer{
        & .offenceCount{
            font-size: 10px;
            width: fit-content;
        }
        & .searchContainers{
            & .caravanReportsSearchQueries{
                width: fit-content;
                & .ascendingIcon{
                    font-size: 10px;
                }
                & .searchInput{
                    width: 75px;
                    &::placeholder{
                        font-size: 10px;
                    }
                }
                & .caravanReportsSort{
                    width: 50px;
                }
            }
        }
        & .reportContainer{
            & .reportCardTitles{
                & .title{
                    width: fit-content;
                    margin: 0;
                    grid-template-columns: repeat(7, 50px) 50px;
                    & p{
                        letter-spacing: 0;
                        font-size: 10px;
                    }
                }
            }
            & .reportCaravanContainer{
                width: fit-content;
                &::-webkit-scrollbar {
                }
                &::-webkit-scrollbar-track {
                  }
                &::-webkit-scrollbar-thumb {
                }
                &::-webkit-scrollbar-thumb:hover {
                }
                & .reportCardContainer{
                    & .reportCard{
                        width: fit-content;
                        grid-template-columns: repeat(7, 50px) 50px;
                        & p{
                            letter-spacing: 0;
                            width: fit-content;
                            font-size: 8px;
                            &.dateContainer{
                                font-size: 10px;
                            }
                        }
                        & .evidenceImageIcon{
                        }
                    }
                }
            }
        }
    }
    .fineContainer{
        display: block;
        & .fineSaveButton{
            font-size: 10px;
            margin-left: 0;
            width: fit-content;
            letter-spacing: 0;
        }
        & input{
            padding: 0;
            max-width: 40px;
            font-size: 10px;
        }
    }
    .paidButton{
            & .paid{
                letter-spacing: 0;
                width: fit-content;
                font-size: 10px;
            }
            & .unpaid{
                letter-spacing: 0;
                width: fit-content;
                font-size: 10px;
            }
    }
  }