.guildButton{
    width: 14vw;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

    &.selected{
        background-color: green !important;
        direction: ltr;
        &:active{
            transform: scale(0.9);
        }
    }

    &:active{
        transform: scale(0.9);
    }

}

@media only screen and (max-width: 600px) {
    .guildButton{
        width: 29vw;
        font-size: 8px;
    }
  }