.serverLoadingMainContainer{
    width: 100%;
    & .serverLoadingContainer{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        & p{
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 5px;
            margin: 0;
            padding: 0;
        }
    }
}