.dev{
    position: absolute;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    & .userLogged{
        margin-top: 5px;
        color: white;
        height: min-content;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 5px;
        font-weight: bold;
        margin-left: auto;
        margin-right: 7vw;
    }

    & .headerLinkContainer{
        display: flex;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        gap: 5px;
        margin-bottom: 10px;
        & .headerLink{
            background-color: rgb(101, 0, 126);
            color: white;
            width: max-content;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .headerContainer{
        & .userLogged{
            font-size: 12px;
        }

        & .headerLinkContainer{
            & .headerLink{
                font-size: 10px;
            }
        }

    }
}