.guildComsContainer{
    width: 90vw;
    border: 5px solid grey;
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr) );
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    & .guildComsGuildButton{
    }
    & .button{
        cursor: pointer;
        background-color: blue;
        color: white;
        border: 2px solid black;
    }
}

