.deleteButton{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: none;
    height: 71px;
    font-weight: bold;
    border: none;
    position: inherit;
    width: 100%;
    outline: none;
    cursor: pointer;
    &:active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
    & .deleteIcon{
        color: grey !important;
        background-color: none !important;
        font-size: 50px;
        margin-top: 10px;
        &:active{
            transform: scale(.9);
        }
    }
}


@media only screen and (max-width: 600px) {
    .deleteButton{
        & .deleteIcon{
            width: 15px;
        }
    }
}